.organization-type-badge {
    background-color: #6cc3d5;
    color: white;
}
.impact-area-badge {
    background-color: #d2b4de;
}
.skill-badge {
    background-color: #c9ae5d;
}

.small-badge {
}

.tiny-badge {
}
.form-check-input {
    transform: scale(1.5);
}
.form-check-label {
    margin-left: 5px;
}
