.home-post-image {
    position: relative;
    text-align: center;
    color: white;
}
.home-post-image-dark {
    position: relative;
    text-align: center;
    color: black;
}
.home-post-image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}
.image-text-top-left {
    position: absolute;
    top: 10px;
    left: 10px;
    /* transform: translate(-50%, -50%); */
    font-size: 20px;
}
.image-text-top-left-small {
    position: absolute;
    top: 5px;
    left: 5px;
    /* transform: translate(-50%, -50%); */
    font-size: 14px;
    border-radius: 3px;
}
.ppl-liked-list {
    width: '100%';
    margin-bottom: 5px;
}
.ppl-liked-list:hover {
    background-color: cadetblue;
    color: white;
}
.v-middle {
}
.badge-single-small {
    margin-right: 3px;
    margin-bottom: 3px;
    padding: 5px;
    font-size: small;
    font-weight: 500;
    border-radius: 3px;
}
.impact-area-badge {
    background-color: #d2b4de;
}
.skill-badge {
    background-color: #c9ae5d;
}
.parent-page-home {
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 20px;
    padding-top: 20px;
    margin-bottom: 50px;
    background-color: #eeeeee;
    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 20px;
}
